:root {
  /* colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  /* fonts size and weight  */
  --fs-p: 1rem;
  --fw-p: 500;
  --fw-h1: 800;
  /* paddings, mairgins, gaps, border-rad */
  --main-pad: 1.5625rem;
  --border-r: 1rem;
  --gap: 1rem;
  /* shadow  */
  --sh: 12px 12px black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  background-color: var(--yellow);
  font-family: Figtree, sans-serif;
}

main {
  padding: var(--main-pad);
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: var(--main-pad);
  border-radius: var(--border-r);
  width: 100%;
  max-width: 450px;
  box-shadow: var(--sh);
}

.learning {
  background-color: var(--yellow);
  width: fit-content;
  padding: 0.5rem;
  margin-top: 2rem;
}

.img-1 {
  border-radius: var(--border-r);
  aspect-ratio: 5.5 / 4;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card-footer {
  display: flex;
  gap: 16px;
  align-items: center;
}
.img-2 {
  width: 40px;
}
